.horizon-info {
  margin-right: 15px;
  font-size: 16px;
}

.table {
  margin-top: 20px;
  td,
  th {
    text-align: center;
    vertical-align: middle;
  }
  td {
    font-size: 16px;
  }
}

input {
  padding: 6px 18px;
  border: 1px solid rgb(87, 97, 124);
  border-radius: 10px;
  font-size: 18px;
}

.input-horizon {
  padding: 10px 18px;
}
